<DOCTYPE! html>
    <html lang "en-US">

    <head>
        <meta charset="utf-8">
        <title>WordCloud18</title>
        <link href="styles/main.css" / rel="stylesheet">
        <script src="js/scripts.js"></script>
        <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"></script>
        <script data-require="jquery" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="js/currency-autocomplete.js"></script>
    </head>



    <body>


        <div class="main">

            <h1>WordCloud18</h1>
            <input type="text" id="searchBar" list ="artist-datalist" placeholder="Search Artist"  >
            <datalist id="artist-datalist">

            </datalist>
            <span class="input-group-btn">
            <button id="searchButton" onclick="search()" >Search</button>


       </div>


    </body>

    </html>
